.pop_over_menu {
    background-color: var(--primary_grey_color);
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 10;

    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.info_button {
    position: relative;
    z-index: 1;
    margin-bottom: -44px;
    margin-left: 330px;
}

.pop_over_top {
    position: fixed;
    height: 49px;
    width: 100vw;
    background-color: var(--primary_grey_color);
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
}

.pop_over_top::after {
    display: block;
    content: "";
    position: absolute;

    width: 8.72%;
    height: 9.677%;
    height: 3px;
    top: 12px;
    left: 45.64%;

    border-radius: 10px;

    background-color: var(--secondary_grey_color);
}

.place {
    display: flex;
    justify-content: center;
}

.place_list {
    margin-top: 49px;
}

.delete_button {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: -2;
}

.draggable_element {
    margin-bottom: 20px;
}

.deleted_place_list {
    justify-self: end;
}

.deleted_place_list_header {
    color: var(--main-text-color);
    font: normal 700 14px Roboto;
    margin: 10px 0 20px 22px;
}

.main_button_top {
    width: 100%;
    padding: 0 123px 0 123px;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.main_button_bottom {
    width: 100%;
    padding: 0 20px 0 20px;
    position: relative;
    bottom: 18px;
    display: flex;
    justify-content: center;
}