.pop_over_menu {
    background-color: var(--primary_grey_color);
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop_over_top {
    position: fixed;
    height: 3.673vh;
    width: 100vw;

    background-color: var(--primary_grey_color);
}

.pop_over_top::after {
    display: block;
    content: "";
    position: absolute;

    width: 8.72%;
    height: 9.677%;
    height: 3px;
    top: 45.16%;
    left: 45.64%;

    border-radius: 10px;

    background-color: var(--secondary_grey_color);
}

.place {
    display: flex;
    justify-content: center;
}

.place_list {
    margin-top: 20px;
}

.delete_button {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: -2;
}

.draggable_element {
    margin-top: 20px;
}

.deleted_place_list {
    justify-self: end;
}

.deleted_place_list_header {
    color: var(--main-text-color);
    font: normal 700 14px Roboto;
    margin: 30px 0 0 22px;
}

.main_button_top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.main_button_bottom {
    width: 100%;
    position: relative;
    bottom: 18px;
    display: flex;
    justify-content: center;
    z-index: 2;
}