.place_panel {
    width: 85.64vw;
    height: 6.635vh;
    position: relative;

    display: flex;
}

.place_info {
    height: 100%;
    width: 46.67vw;
    margin-left: 3.077vw;
}

.name {
    color: var(--main_text_color);
    font: normal 600 18px Roboto 
}

.address {
    color: var(--secondary_text_color);
    font: normal 400 16px Roboto
}

.number__default, .number__disabled {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    padding-top: 0.14218vh;
    margin-right: 12px;

    color: var(--primary_grey_color);
    align-self: center;
    display: flex;
    justify-content: space-around;

    font: normal 700 14px Roboto
}

.number__disabled {
    background-color: var(--secondary_text_color);
}

.number__default {
    background-color: var(--secondary_button_color);
}

.number__deleted {
    width: 4.6154vw;
    height: 4.6154vw;
    border-radius: 10px;
    margin-right: 12px;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHTSURBVHgBlVTbccIwEJSFC6AEdRCngkAFkAogFZBPhqcYnp/pAFIBUAGmApwK4nRAATyy65EYoZgMaEZYOt2tbvdOBCJndDqdUhAEtdPpxK+i7Xw+J/gksK2n0+nKjwncTbPZVGEYzrEsYW4Bsjoej3ueFQqFIsCqWL7gm8Jens1m6R+gVqsVSSk3WH5h6tFoFOdlq7VWh8NhiaVCduXJZJJcgEwmO9y0Ho/HdXHHaLfbC2RcAegzM5MmbWaS3gvCYXwTI4WQELZKQWF4tU69Xq8Be98Phr0G+9IxDTBLLI4EnQo2W3BP7SlspKxdMIJAkwWWytqMjjErHOInQuCne/NwOPwASNGACRQhNSCkUnZ9Eb/GWYMaEWjv08Bt2qSuXRBkfuXL9qA0UvwzkMm3Qzf2Qa582VxALPoHjibskwF83vMKwEalj4QDO7hyC4R0XJo+GIuF+ITUGJCV0B4CpCo8TSwYgurWj43MWDZyZgDIhlM8ONDdu263m+mYiY2b39gGOJg/ADJHMRQ0ytrh8mhBIUIpN6DFl/3qvmx3GAn6vJggiEuugAyYIhg4K2xjcrc9xsqaohBoCxZ19zUEN26l2JwR5hNtAPwBUIzlIu8v5hcdYAzsudrvFAAAAABJRU5ErkJggg==');
}

.checkbox__default, .checkbox__active, .checkbox__none {
    width: 18px;
    height: 18px;
    align-self: center;
    margin-left: 5.8974vw;
}

.checkbox__active, .checkbox__default {
    border: 1px solid var(--secondary_text_color);
    box-sizing: border-box;
    border-radius: 3px;
}

.checkbox__active {
    background-color: var(--secondary_text_color);
    background-image: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABaSURBVHgBlY7BDYBQCEP9TuRGuoFuoCO4iat5+MANLAeuwm9CQtJXaJsKYuZdVducgSJymtmN9U1BIrLe+zYOeh8Ya+ki4MONCKSvYV4OYJ5SxwikYAjg8ud/jedonLy8aIEAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: center center;
}

.img_default, .img_active, .img_deleted {
    height: 56px;
    width: 56px;
    border-radius: 4px;
    position: relative;
}

.img_active {
    position: relative;
    height: 56px;
    width: 56px;
    border-radius: 4px;
    background:  url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJRSURBVHgB7VZLSJRRFD4TQbQoxqJauHEh7YJ2Lf0po6CXmyBa1bI2FYRmIlqrHpugRbUKai8uXLgRXxsXvhYiiKCCii7U0YUgihy/w3zDXK7/KM7/EGU++Lhzzzlzz8c9Z84dkQoqOGXISESoag2Wp2AtOAV2ZDKZOTkOQMwH3Y8dsEXSBpK+oIAlsAkMwPfgCu2BpAkkHGPiGs8e0N4raYJJB0v4lsFFKQNnpHxsgpdK+M6Bu5ImrCS8pXrP/ob2v5ImkPAdE29bcjb5L9oW/N5KWkybHowe8JqUgSMPRvtpY/kOroPNnvsB+JCf58A7GJIzkhQ4ZwyL4M0Qf2E2zTpD8g/4GMxKnHDKZGKul4i5xZif4Etw3ivlCFgtUeGIydnNWMPyV/bWi6tmXBf3WfAuBeboCyQKcMBrT0y9Fp+HvpD4VfpM8G8TrfnpvWallCjAAbd5+KaVCWz0StAX8p0JLY1oswkHXNVig/ZztWfh3gGCWukbAOvAV+BXsFPjmE3sl4KoUe4vO2V8EvKdIfqfSxKgCOuFLPf3vVK0efG14BYFX5CkgSQ/KKTJub1hsMqJ+UJ7uyQJJLgITjPZFa+k/5y4Kt5QTuMeik6SwEk+6NhnnfI9c+zfaGuVuKHFvxXKkhX66bPT8NY3y47PbmlD83Mr9qejmYl7uK/T/FOgLMsj8BP3HYyxSd1LW6PECRx4Fhzn4d3ObXUp5wvW82xuw38tPhe2NkjcwKE3WBbDpIa8S5p/XnYdIe2aVFMzYQPYYjd2SMzHRIVUUMFJwR5/E8+91H6G7QAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.img_deleted {
    filter: grayscale(100%)
}

.main_img {
    left: 30px;
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 4px;
    z-index: -1;
}

.blackout {
    position: absolute;
    left: 30px;
    height: 56px;
    width: 56px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0.2);
}

