.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 30px;
    min-height: 30px;

    border: none;
    border-radius: 24px;

    background: none;
}

.main {
    background-color: var(--white);

    padding: 15px 23px;

    font: var(--button_text);
}

.secondary {
    background-color: var(--main_button_color);
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    width: 350px;
    height: 53px;
}

.text_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.with_image {
    background-color: var(--main_button_color);
    color: var(--white);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    width: 100%;
    height: 53px;

    padding: 0 26.5px
}

.image {
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: top;

    margin-left: 4px;
}

.with_image:active {
    background-color: var(--main_button_pressed_color);
}

.secondary:active {
    background-color: var(--main_button_pressed_color);
}

.secondary:disabled {
    background-color: var(--secondary_text_color);
}

.text_container_gradient {
    background: linear-gradient(90deg, #D66950 10.26%, #819928 88.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text_container_hide {
    display: none;
}

.add {
    background: center no-repeat url('./icons/add.svg');
}

.delete {
    background: center no-repeat url('./icons/delete.svg');
}

.delete_outline {
    background: center no-repeat url('./icons/delete_outline.svg');
}

.hint {
    background: center no-repeat url('./icons/hint.svg');
}

.back {
    background: center no-repeat url('./icons/back.svg');
}

.cancel {
    background: center no-repeat url('./icons/cancel.svg');
}

.info {
    background: center no-repeat url('./icons/info.svg');
}

.info_white {
    background: center no-repeat url('./icons/info_white.svg');
}

.location {
    background: center no-repeat url('./icons/location.svg');
}

.plus {
    background: center no-repeat url('./icons/plus.svg');
    
}

.minus {
    background: center no-repeat url('./icons/minus.svg');
}

.back_to_location {
    background: center no-repeat url('./icons/back_to_location.svg');
}

.plus, .minus, .back_to_location {
    background-color: var(--white);
    border-radius: 20px;
    
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.18));
}

.plus:active, .minus:active, .back_to_location:active {
    background-color: var(--primary_grey_color);
}

.plus:disabled, .minus:disabled {
    background-color: var(--secondary_grey_color);
}