.tour_select {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.top {
    width: inherit;
    height: 52px;

    background-color: #daa520;
}

.bot {
    width: inherit;
    height: 133px;
    
    background-color: goldenrod;
}

.header_container {
    width: inherit;
    height: 98px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_top {
    width: inherit;
    height: 75%;

    display: flex;
    justify-content: space-between;
    padding: 29px 26px 0 31px;
}

.header_bot {
    width: inherit;

    display: flex;

    padding: 0 31px;
}

.placemark_image {
    width: 20px;
    height: 20px;
    background: center no-repeat url('./images/placemark.svg');
}

.town_name {
    display: flex;
    align-items: center;

    font: var(--main_text);
    color: var(--secondary_text_color);
    line-height: 19px;
}

.header_text {
    font: var(--max_text);
    background: linear-gradient(90deg, #D66950 10.26%, #819928 88.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tour_info_container {
    width: inherit;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 0 0 19px 2px;
}

.tour_name {
    font: var(--tour_name_text);
    color: var(--main_text_color);
    text-align: center;

    width: 327px;
}

.tour_info {
    font: var(--main_text);
    color: var(--secondary_text_color);
    text-align: center;

    width: 250px;
    margin-top: 8px;
}

.tour_images_container {
    width: inherit;
    height: 390px;

    display: flex;
    flex-flow: row nowrap;

    overflow: hidden;

    padding-left: 45px;
    transition: .5s;
}

.tour_image {
    width: 270px;
    height: 390px;

    border-radius: 10px;

    padding: 324px 82px 18px 82px;
    margin: 0 15px;

    transition: .8s;
    box-shadow: none;
}

.tour_image_active {
    transition: .8s;
    box-shadow: 0px 20px 40px 10px rgba(196, 202, 172, 0.6);
}

.slider_container {
    width: inherit;
    height: 54px;

    display: flex;
    justify-content: center;

    padding-top: 18px;
}

.tour_point {
    width: 8px;
    height: 8px;
    border-radius: 4px;

    background: #CCCCCC;

    margin-right: 5px;
}

.tour_point_active {
    background: linear-gradient(90deg, #D66950 10.26%, #819928 88.62%);
}