.preview_tour_container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100vw;
    height: 67vh;

    background: center no-repeat;
}

.top {
    width: inherit;
    height: 52px;

    background-color: #daa520;
}

.bot {
    width: inherit;
    height: 133px;
    position: absolute;
    bottom: 0;
    
    background-color: goldenrod;
}