.preview_tour_container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    width: inherit;
    height: 100vh;


}

.backgroundImage {
    width: inherit;
    height: inherit;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: blur(20px);

    position: absolute;
    top: 0;
    left: 0;
}

.top {
    width: inherit;
    height: 52px;

    background-color: #daa520;
}

.bot {
    width: inherit;
    height: 133px;
    position: absolute;
    bottom: 0;
    
    background-color: goldenrod;
}