.map_container {
    height: 100%;
    width: 100%;
}

.button_container {
    position: absolute;
    z-index: 1;

    right: 15px;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.zoom_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 252px 0 111px 0;
}

.zoom_container > * {
    margin-bottom: 10px;
}