@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {  
  font: 'Montserrat', sans-serif;

  --white: #FFFFFF;
  --primary_grey_color: #F5F5F5;
  --secondary_text_color: #7C7C7C;
  --tertiary_grey_color: #3D3D3D;
  --main_text_color: #151515;

  --tour_background_color: #E1EFF2;
  --secondary_button_color: #287EFF;
  --secondary_button_color_pressed: #2872E0;
  --main_button_color: #3AB97C;
  --main_button_pressed_color: #32A06B;
  --danger_color: #FF2828;
  --gradient_color: linear-gradient(90deg, #D66950 10.26%, #819928 88.62%);

  --main_text: normal 400 14px/16px 'Roboto';
  --button_text: normal 600 16px/18px 'Roboto';
  --route_timer_text: normal 400 25px/29px 'Roboto';
  --place_name_text: normal 500 20px/23px 'Roboto';
  --min_text: normal 400 12px/14px 'Roboto';
  --main_bold_text: normal 700 14px/16px 'Roboto';
  --max_text: normal 700 35px/41px 'Roboto';
  --sb_18_text: normal 600 18px/21px 'Roboto';
  --reg_16_text: normal 400 16px/19px 'Roboto';
  --tour_name_text: normal 700 26px/30px 'Roboto';
}
