.preview_map {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.top_menu {
    width: 100%;
    height: 10.622%;
    padding-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--primary_grey_color);

    position: relative;

    color: var(--main_text_color);
}

.top_menu_started {
    padding-top: 0;
    justify-content: center;
}

.button_close {
    position: absolute;

    top: 20px;
    right: 25px;
}

.header_metric {
    font: var(--main_text);  
}

.metric {
    margin-top: 3px;
    font: var(--sb_18_text);
}

.map_container {
    width: 100%;
    height: 67.22306%
}

.tour_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    background: linear-gradient(90deg, #D66950 10.26%, #819928 88.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}